{% extends "base.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    via Pasubio, 3<br />
    24044 Dalmine (BG)<br />
    <abbr >Phone :</abbr>
    035 205 2077
</address>

<address>
    <strong>Loris Iacoban:</strong>   <a href="mailto:l.iacoban@studenti.unibg.it">l.iacoban@studenti.unibg.it</a><br />
    <strong>Amin Borqal:</strong>   <a href="mailto:a.borqal@studenti.unibg.it">a.borqal@studenti.unibg.it</a><br />
    <strong>Andrea Moressa:</strong>   <a href="mailto:a.moressa@studenti.unibg.it">a.moressa@studenti.unibg.it</a><br />
</address>

{% endblock %}
