<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Animated Sidebar Menu | CodingLab</title>
      <link rel="stylesheet" href="static\style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="wrapper">
         <input type="checkbox" id="btn" hidden>
         <label for="btn" class="menu-btn">
         <i class="fas fa-bars"></i>
         <i class="fas fa-times"></i>
         </label>
         <nav id="sidebar">
            <div class="title">
               Menù utente
            </div>
            <ul class="list-items">
               <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
               <li><a href="/RicercaOfferta"><i class="fas fa-sliders-h"></i>cerca offerte per Professione</a></li>
               <li><a href="/RicercaOffertaS"><i class="fas fa-address-book"></i>cerca offerte per Salario</a></li>
               <li><a href="#"><i class="fas fa-cog"></i>Impostazioni profilo</a></li>
               <li><a href="#"><i class="fas fa-stream"></i>Logout</a></li>
               <li><a href="#"><i class="fas fa-user"></i>About us</a></li>
               <li><a href="#"><i class="fas fa-envelope"></i>Contact us</a></li>
               <div class="icons">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
               </div>
            </ul>
         </nav>
      </div>
      <div class="content">
         <div class="header">
            DASHBOARD UTENTE
         </div>
         <p>
            
         </p>
      </div>
      <table>
         <tr>
           <th>Email</th>
           <th>Ruolo</th>
           <th>Azienda</th>
           <th>SedeLegale</th>
           <th>Salario</th>
           <th>Descrizione</th>
           {% for job_offer in job_offers %}
           <tr>
             <td>{{ job_offer[0] }}</td>
             <td>{{ job_offer[1] }}</td>
             <td>{{ job_offer[2] }}</td>
             <td>{{ job_offer[3] }}</td>
             <td>{{ job_offer[4] }}</td>
             <td>{{ job_offer[5] }}</td>
           </tr>
           {% endfor %}
       </table>
   </body>
</html>