{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Worklink - Trova il lavoro dei tuoi sogni</title>
    <!-- Includi il codice CSS di Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    <!-- Includi il tuo codice CSS personalizzato -->
    <link rel="stylesheet" href="stile.css">
  </head>
  <body>
    <!--div con testo introduttivo-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center mt-5">Worklink</h1>
          <p class="lead text-center">Worklink è il posto giusto per iniziare la tua ricerca del lavoro. Cerca tra migliaia di offerte di lavoro in tutta Italia e candidati subito.</p>
        </div>
      </div>
  
    
    <!-- Offerte di lavoro in evidenza -->
    <section class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center mb-4">Offerte di lavoro in evidenza</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sviluppatore Web</h5>
                <p class="card-text">Cerchiamo un esperto sviluppatore web per lavorare a stretto contatto con il nostro team di sviluppo.</p>
                <a href="#" class="btn btn-primary">Candidati subito</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://plus.unsplash.com/premium_photo-1670071482579-c157aec49e71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Copywriter</h5>
                <p class="card-text">Stiamo cercando un copywriter creativo e professionale per scrivere testi per il nostro sito web.</p>
                <a href="#" class="btn btn-primary">Candidati subito</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Responsabile Marketing</h5>
                <p class="card-text">Cerchiamo un responsabile marketing con esperienza da inserire nella nostra azienda.</p>
                <a href="#" class="btn btn-primary">Candidati subito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Includi il codice JavaScript di Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
