<!doctype html>
<html>
  <head>
    <title>Offerte di lavoro</title>
  </head>
  <body>
    <h1>Offerte di lavoro</h1>
    <ul>
      {% for job in jobs %}
      <li>
        {{ job.id}} - {{ job.ruolo }} - {{ job.azienda }} - {{ job.luogo }} - {{ job.salario }} - {{ job.descrizione }}
        <a href="/delete/{{ job.id }}">Elimina</a>
      </li>
      {% endfor %}
    </ul>
    <form action="/add" method="post">
      <label for="id">ID:</label><br>
      <input type="number" id="id" name="id"><br>
      <label for="ruolo">Ruolo:</label><br>
      <input type="text" id="ruolo" name="ruolo"><br>
      <label for="azienda">Azienda:</label><br>
      <input type="number" id="azienda" name="azienda"><br>
      <label for="luogo">Luogo:</label><br>
      <input type="text" id="luogo" name="luogo"><br><br>
      <label for="salario">Salario:</label><br>
      <input type="number" id="salario" name="salario"><br><br>
      <label for="descrizione">Descrizione:</label><br>
      <textarea id="descrizione" name="descrizione"></textarea><br>
      <input type="submit" value="Aggiungi">
    </form> 
  </body>
</html>