<!DOCTYPE html>
<html>
<head>
	<title>Candidati offerta "{{ offerta.titolo }}"</title>
</head>
<body>
	<h1>Candidati offerta "{{ offerta.titolo }}"</h1>
	{% if offerta.candidati_list() %}
		<ul>
			{% for candidato in offerta.candidati_list() %}
				<li>{{ candidato }}</li>
			{% endfor %}
		</ul>
		<form method="post" action="/seleziona/{{ offerta.id }}">
			<label for="prescelto">Seleziona il prescelto:</label>
			<select id="prescelto" name="prescelto">
				{%	for candidato in offerta.candidati_list() %}
				<option value="{{ candidato }}">{{ candidato }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Seleziona">
	</form>
{% else %}
	<p>Nessun candidato.</p>
{% endif %}
</body>
</html>