<!doctype html>
<html>
  <head>
    <title>Offerte di lavoro</title>
  </head>
  <body>
    <h1>Offerte di lavoro</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Ruolo</th>
        <th>Azienda</th>
        <th>Località</th>
        <th>Salario</th>
        <th>Descrizione</th>
        <th>Candidati</th>
      </tr>
      {% for job_offer in job_offers %}
        <tr>
            <td>{{ job_offer[0] }}</td>
            <td>{{ job_offer[1] }}</td>
            <td>{{ job_offer[2] }}</td>
            <td>{{ job_offer[3] }}</td>
            <td>{{ job_offer[4] }}</td>
            <td>{{ job_offer[5] }}</td>
            <td>
              <form method="POST" action="/candidati">
                <input type="hidden" name="offerta_id" value="{{ job_offer[0] }}">
                <input type="text" name="utente_cf" placeholder="Codice fiscale">
                <button type="submit">Candidati</button>
              </form>
            </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>