{% extends "base.html" %} {% block title %}Ricerca Offerta Salario{% endblock %} {% block content %}
<form action="/RicercaOffertaS" method="POST" enctype="multipart/form-data">
    <h3 align="center">Ricerca</h3>
    <div class="search_sal">
      <label for="search_term">Salario</label>
      <input
        type="text"
        class="form-control"
        id="search_sal"
        name="search_sal"
        placeholder="Enter salary"
      />
    </div>
    <div class="form-group">
      <label for="search_l">Luogo</label>
      <input
        type="text"
        class="form-control"
        id="search_l"
        name="search_l"
        placeholder="Enter place"
      />
    </div>
      <br />
      <button type="submit" class="btn btn-primary">Ricerca</button>
</form>
<body>
    <table id="tabella" class="display">
        <thead>
            <tr>
                <th> ID </th>
                <th> Ruolo  </th>
                <th> Azienda </th>
                <th> Sedelegale</th>
                <th> Salario  </th>
                <th> Descrizione </th>
            </tr>
            {% for row in results %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>
                <form method="POST" action="/candidati">
                  <input type="hidden" name="offerta_id" value="{{ row[0] }}">
                  <input type="text" name="utente_cf" placeholder="Codice fiscale">
                  <button type="submit">Candidati</button>
                </form>
              </td>
              <td>
                <form method="POST" action="/a">
                   <input type="hidden" name="offerta_id2" value="{{ row[0] }}">
                  <button type="submit">Candidato Scelto</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
    {% endblock %}