{% extends "base.html" %} {% block title %}Ricerca Offerta{% endblock %} {% block content %}
<form action="/RicercaOfferta" method="POST" enctype="multipart/form-data">
    <h3 align="center">Ricerca</h3>
    <div class="form-group">
      <label for="search_term">Professione</label>
      <input
        type="text"
        class="form-control"
        id="search_term"
        name="search_term"
        placeholder="Enter profession"
      />
    </div>
    <div class="form-group">
      <label for="search_luogo">Luogo</label>
      <input
        type="text"
        class="form-control"
        id="search_luogo"
        name="search_luogo"
        placeholder="Enter place"
      />
    </div>
      <br />
      <button type="submit" class="btn btn-primary">Ricerca</button>
</form>
<body>
  <br />
    <table id="tabella" class="display">
        <thead>
            <tr>
                <th> ID </th>
                <th> Ruolo  </th>
                <th> Azienda </th>
                <th> Sedelegale</th>
                <th> Salario  </th>
                <th> Descrizione </th>
            </tr>
            {% for x in results %}
            <tr>
              <td>{{ x[0] }}</td>
              <td>{{ x[1] }}</td>
              <td>{{ x[2] }}</td>
              <td>{{ x[3] }}</td>
              <td>{{ x[4] }}</td>
              <td>{{ x[5] }}</td>
              <td>
                <form method="POST" action="/candidati">
                  <input type="hidden" name="offerta_id" value="{{ x[0] }}">
                  <button type="submit">Candidati</button>
                </form>
              </td>
              <td>
                <form method="POST" action="/a">
                   <input type="hidden" name="offerta_id2" value="{{ x[0] }}">
                  <button type="submit">Candidato Scelto</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
    {% endblock %}