{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.cf.label }} {{ form.cf() }}
    {{ form.email.label }} {{ form.email}}
    {{ form.password.label }} {{ form.password() }}
    {{ form.nome.label }} {{ form.nome() }}
    {{ form.eta.label }} {{ form.eta() }}
    {{ form.sesso.label }} {{ form.sesso() }}
    {{ form.residenza.label }} {{ form.residenza() }}
    {{ form.resume.label }} {{ form.resume() }}
    <input type="submit" value="sign_up">
  </form>
  {% endblock %}